<h3>registration</h3>
<br />
<br />

<div class="col-md-10 col-md-offset-1">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>북섬</th>
      <th>남섬</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of information.prices">
      <td><strong>{{price.description}}</strong> {{price.date}}</td>
      <td>{{price.north}}</td>
      <td>{{price.south}}</td>
    </tr>
    </tbody>
  </table>
</div>

<br/>

<div class="note align-left">
  <div class="col-md-10 col-md-offset-1">
    <div *ngFor="let note of information.notes">
      <p style="font-size: 14px"><i>{{note}}</i></p>
    </div> <br/>
  </div>
</div>

<br/>

<div class="howTo align-left">
  <div class="col-md-10 col-md-offset-1" style="padding-bottom: 20px;">
    <span *ngFor="let note of information.howTo">
      <p>{{note}}</p>
    </span>


    <p><a target="_blank" href="{{registrationUrl}}" class="btn">Register Online</a></p>
    <p>혹은 <strong><a href="assets/pdf/{{howToOfflineLink}}" target="_blank">여기</a></strong>를 클릭하여 신청서를 다운로드 받아 작성하신 후 우편으로 발송해 주세요.</p>
  </div>
</div>

<br/>

<div class="howToDeposite align-left">
  <div class="col-md-10 col-md-offset-1" style="padding-bottom: 20px;">
    <h6>납입 방법</h6>
    <div class="how-to-pay">
      <p><b>CHEQUE:</b></p>
      <p>우편 발송 주소: PO Box 300487, Albany, Auckland 0752 (봉투에 "KOSTA"라고 기입).</p>        
      <p>체크 받는 사람 (Payable to)은 "KOSTA"로 해주시기 바랍니다.</p>
      <br/>
      <p><b>BANK DEPOSIT:</b></p>
      <p>Bank: Westpac</p>
      <p>Account Name: KOSTA</p>
      <p>Account Number: {{information.howToDeposit}}</p>
      <p><i>주의사항: 참가비를 입금할 때는 reference에 반드시 등록하신 영문이름과 같은 이름이나 핸드폰 번호를 적으셔야합니다.</i></p>
    </div>   
  </div>
</div>

<br/>

<div class="attention align-left">
  <div class="col-md-10 col-md-offset-1" style="padding-bottom: 20px;">
    <div class="attention-section">
      <p *ngFor="let note of information.attention">{{note}}</p>
    </div>   
  </div>
</div>

<br/>
