<div class="tabs-wrapper tabs-horizontal">
  <div class="nav-wrapper">
    <span class="nav-current" (click)="toggleList()">
      <h6 class="heading-alt"><span class="fa {{introductionList[currentView].icon}}"></span> {{introductionList[currentView].tabName}}</h6>
    </span>

    <ul class="nav nav-tabs nav-justified" [style.display]="shouldShowList ? 'block' : null">
      <li class="{{i===currentView ? 'active' : ''}}"  *ngFor="let intro of introductionList; let i = index">
        <a (click)="viewTab(i)" data-toggle="tab">
          <h6 class="heading-alt"><span class="fa {{intro.icon}}"></span> {{intro.tabName}}</h6>
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div *ngFor="let intro of introductionList; let i = index" class="tab-pane fade {{i===currentView ? 'active in': ''}}">
      <div *ngIf="intro.video">
        <div class="modal-box iframe-box iframe-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0Te1LzIQiao" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div *ngIf="!intro.video">
        <div class="col-sm-5 img-column">
          <img src="{{intro.image}}" alt="" class="img-responsive">
        </div>
        <div class="col-sm-7 align-left">
          <h6>{{intro.title}}</h6>
          <div [innerText]="intro.text"></div>
        </div>
      </div>
    </div>
  </div>

</div>
