<h3>registration</h3>
<br />
<br />

<div class="col-md-10 col-md-offset-1">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>북섬</th>
      <th>남섬</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of information.prices">
      <td>{{price.description}}</td>
      <td>{{price.north}}</td>
      <td>{{price.south}}</td>
    </tr>
    </tbody>
  </table>
</div>

<br/>

<div class="note align-left">
  <div class="col-md-10 col-md-offset-1">
    <div *ngFor="let note of information.notes">
      <p style="font-size: 14px"><i>{{note}}</i></p>
    </div> <br/>
  </div>
</div>

<br/>

<div class="howTo align-left">
  <div class="col-md-10 col-md-offset-1">
    <h6>신청 방법</h6>
    <span *ngFor="let note of information.howTo">
      <p>{{note}}</p>
    </span>
    <p>» ONLINE: 웹사이트를 통해 등록할 경우 <strong><a href="{{registrationUrl}}" target="_blank">여기</a></strong>를 클릭해 주세요.</p>
    <p>» OFFLINE: <strong><a href="assets/pdf/{{howToOfflineLink}}" target="_blank">여기</a></strong>를 클릭하여 신청서를 다운로드 받아 작성하신 후 우편으로 발송해 주세요.</p>
  </div>
</div>

<br/>

<div class="howToDeposite align-left">
  <div class="col-md-10 col-md-offset-1">
    <h6>납입 방법</h6>
    <span *ngFor="let note of information.howToDeposite">
      <p>{{note}}</p>
    </span>
  </div>
</div>

<br/>

<div class="attention align-left">
  <div class="col-md-10 col-md-offset-1">
    <h6>유의 사항</h6>
    <span *ngFor="let note of information.attention">
      <p>{{note}}</p>
    </span>
    <br/>

    <iframe [src]="url" width="100%" height="300" frameBorder="0"></iframe>
  </div>
</div>

<br/>
