
<h5 class="heading-alt">Schedule</h5>
<p class="text-alt" style="margin-bottom: 80px;">for 4 days</p>

<div class="col-md-10 col-md-offset-1">

  <div class="row schedule schedule-light">

    <tabs [tabsStyle]="'nav-schedule'">
      <div class="tab-content">
        <tab *ngFor="let schedule of scheduleList" [tabTitle]="schedule.date">
          <!-- Accordion start -->
          <div class="panel-group" id="schedule_day{{i}}_timeline">

            <!-- Lecture start -->
            <div *ngFor="let item of schedule.schedules; let j=index" class="panel schedule-item">
              <a data-toggle="collapse" href="#schedule_day{{i}}_time{{j}}" class="schedule-item-toggle">
                <strong class="time highlight">{{item.start}} - {{item.end}}</strong>
                <div class="lecture-icon-wrapper"><span class="fa {{item.icon}}"></span></div>
                <h6 class="title">{{item.title}}</h6>
              </a>
              <div *ngIf="item.speaker !== null" id="schedule_day{{i}}_time{{j}}" class="panel-collapse collapse in schedule-item-body">
                <p class="text-alt speaker-wrapper"><strong class="highlight speaker-name">{{item.speaker}}</strong></p>
                <p class="description">{{item.details}}</p>
              </div>
            </div>
            <!-- Lecture end -->

          </div>
          <!-- Accordion end -->
        </tab>
      </div>
    </tabs>
  </div>

</div>

